<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang Chủ</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <div class="container">
        <h1>Chào mừng đến với Trang Chủ</h1>
        <p>Đây là trang quản trị của hệ thống.</p>
        <h1>test trang quan tri</h1>

        <h3>conflict kia </h3>
        <h2>okkkkkkkkkkk</h2>
        <h4>dedjedjuejdeudejdue</h4>
        <h1> oooooo</h1>
        <h4>1 con bo cuoi</h4>
        <h5>cap nhat moi</h5>
    </div>
</body>

</html>