@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link rel="stylesheet" href="./css/public_home.css">
}

        <!-- menu -->
        <div class="main">
            <div class="title">
                <div class="left-title">
                    <span style="font-size: 40px; color: #8b0000; font-weight: 600;">CHÀO MỪNG BẠN ĐỌC</span>
                    <div class="left-title-text">Đến với trang đăng ký trực tuyến thẻ thư viện</div>
                    <div class="left-title-text">của Thư viện quốc gia Việt Nam</div>
                </div>
                <div class="right-title">
                    <div class="right-title-text">Thực hiện đăng ký làm</div>
                    <span style="color: #8b0000; font-weight: 600;font-size: 35px">thẻ thư viện</span>
                    <div class="right-title-text">Qua <span style="color: #8b0000; font-weight: 600;">4</span> bước</div>
                </div>
            </div>
            <div class="steps">
                <div class="step">
                    <div class="step-title">BƯỚC 1</div>
                    <div class="step-content">
                        Truy cập vào<br>
                        <i class="fa-regular fa-hand-point-down fa-bounce"></i><br>
                        <a href="Dky_the"><span class="step-link">ĐĂNG KÝ THẺ THƯ VIỆN</span></a>
                    </div>
                </div>
                <div class="step">
                    <div class="step-title">BƯỚC 2</div>
                    <div class="step-content">
                        Nhập thông tin cá nhân.<br>
                        Bạn đọc nhận được <b>Mã_đăng_ký</b> làm thẻ sau khi hoàn thành nhập.
                    </div>
                </div>
                <div class="step">
                    <div class="step-title">BƯỚC 3</div>
                    <div class="step-content">
                        Nộp tiền phí làm thẻ qua QR-Code<br>
                        với nội dung chuyển khoản ghi:<br>
                        <b>Mã_đăng_ký + Họ và tên</b>
                    </div>
                </div>
                <div class="step">
                    <div class="step-title">BƯỚC 4</div>
                    <div class="step-content">
                        <b>Nhận Thẻ thư viện</b><br>
                        - Nhận tại Nhà (có phí Dịch vụ chuyển phát)<br>
                        - Nhận tại Thư viện Quốc gia
                    </div>
                </div>
            </div>
            <div class="note">
                <b>Lưu ý:</b> Đối với bạn đọc được hưởng chế độ ưu đãi theo quy định của nhà nước, vui lòng làm thẻ trực tiếp tại Phòng cấp thẻ, số 31 - Phố Tràng Thi. Khi đi mang theo các giấy tờ liên quan để xác nhận. Thẻ đọc dùng để sử dụng các dịch vụ tại Thư viện Quốc gia Việt Nam.
            </div>
        </div>
   
   

